.h1-background {
    background-color: cadetblue;
    background-attachment: fixed;
    padding: 20px;
    margin: 0px;
}
h1{
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
}

/*
.transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

h3 {
    border: medium solid black;
    border-left: none;
    border-right: none;
    width: 22%;
    height: 3ex;
}
*/

.url-text {
    text-decoration: none;
    font-size: 3ex;
    font-family:'Times New Roman', Times, serif;
    color: gray;
}

a{
    text-decoration: none;
    color: black;
}
/*
.hide{
    display: none;
}

.go-login:hover + .hide {
    display: block;
    color: red;
    font-size: 1.7ex
}

.go-signUp:hover + .hide {
    display: block;
    color: red;
    font-size: 1.7ex
}
*/

.login-button {
    padding: 5px 15px 5px;
    margin: 0px;
    background-color: aquamarine;
}

.signUp-button {
    padding: 5px 15px 5px;
    margin: 0px;
    background-color:aqua;
    color: black;
}

.clear-button {
    padding: 5px 15px 5px;
    margin: 0px;
    background-color: red;
}

.index-page-body {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    text-align: center;
}

/*

.movingHeader {
    position: relative;
    animation-name: movingText;
    animation-timing-function: linear;
    animation-duration: 2s;
    text-align: left;
    margin: 0px;
}

@keyframes movingText {
    0% {left: 1020px}
    25% {left: 765px}
    50% {left: 510px}
    70% {left: 255px}
    100% {left: 0px}
}
*/

nav {
    text-align: left;
    border: medium solid black;
    border-left: none;
    border-right: none;
}
header {
    background-color: cadetblue;
    background-attachment: fixed;
    padding: 20px;
    margin: 0px;
}

/*
.section1 {
    float: left;
    width: 400px;
    height: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img1 {
    height: 80%;
    width: 80%;
    transition: transform 2s;
}

.img1:hover {
    transform: rotate(360deg)
}


.section2 {
    float: right;
    width: 400px;
    height: 500px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-width: medium;
}


.img2 {
    height: 80%;
    width: 80%;
    transition: width 2s, height 2s;
}

.img2:hover {
    width: 100%;
    height: 100%;
}
*/

.current-page {
    color: black;
}

footer {
    background-color: cadetblue;
    background-attachment: fixed;
}

.flexible-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap : wrap;
    justify-content: center;
}

.verticle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.horizontal {
    flex: 24%;
    margin: 0px;
    padding: 0px;
}

.horizontal img{
    vertical-align: middle;
}
.imageBorder {
    border: medium solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-decoration: underline;
}
.horizontal img {
    vertical-align: middle;
}
@media screen and (max-width: 480px) {
    .index-page-body {width: 100%;}
    .flexible-container {flex-direction: column;}
    .horizontal{flex-direction: column;}
    .horizontal {
        flex: 100%;
    }
}

@media screen and (max-width: 800px) {
    .index-page-body{width: 100%;}
    .flexible-container {flex-direction: column;}
    .horizontal{flex-direction: column;}
    .horizontal {
        flex: 48.708%;
    }
}
@media  screen and (max-width: 1020px) {
    .index-page-body{width: 100%;}
    
}

footer {
    text-align: left;
    padding: 3px;
    margin: 0px;
}


