h1 {
    background-color: cadetblue;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
}
.transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
h3 {
    border: medium solid black;
    border-left: none;
    border-right: none;
    width: 22%;
    height: 3ex;
}
.url-text {
    text-decoration: none;
    font-size: 3ex;
    font-family:'Times New Roman', Times, serif;
    color: gray;
}

a{
    text-decoration: none;
    color: black;
}
.hide{
    display: none;
}

.go-login:hover + .hide {
    display: block;
    color: red;
    font-size: 1.7ex
}

.go-signUp:hover + .hide {
    display: block;
    color: red;
    font-size: 1.7ex
}

.login-button {
    padding: 5px 15px 5px;
    margin: 0   px;
    background-color: aquamarine;
}

.signUp-button {
    padding: 5px 15px 5px;
    margin: 0px;
    background-color:aqua;
    color: black;
}

.clear-button {
    padding: 5px 15px 5px;
    margin: 0px;
    background-color: red;
}